
@font-face {
  font-family: "DARISTIL";
  src: url(../fonts/DARISTIL.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "DARISTIL";
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #FF4C12 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #FF4C12;
}